<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
</head>

<body>
    <h2>Chat Room</h2>
    <div id="chat-box"></div>
    <input type="text" id="message-input" placeholder="Type your message...">
    <button onclick="sendMessage()">Send</button>

    <script>
        const token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzQzMTQzMTUyLCJpYXQiOjE3NDMxNDI4NTIsImp0aSI6ImE4YmQ2NTkxNWZkZDQ2NGZiMDU0MDM5ZjU0NjVmM2Y0IiwidXNlcl9pZCI6MX0.pzkCXmPieNrnTG1FmS8TPJ_BPwRfVD9mW01-jQDT_Ak"
        const socket = new WebSocket("ws://localhost:8000/ws/chat/general/?token=" + token);

        socket.onmessage = function (event) {
            const data = JSON.parse(event.data);
            const chatBox = document.getElementById("chat-box");
            chatBox.innerHTML += `<p><strong>${data.user}:</strong> ${data.message}</p>`;
        };

        function sendMessage() {
            const input = document.getElementById("message-input");
            const message = input.value.trim();
            if (message) {
                socket.send(JSON.stringify({ message: message }));
                input.value = "";
            }
        }
    </script>
</body>

</html>